.container {
  width: 100vw;
  height: 100vh;
  background: url(background.jpg) top center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.card {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.footer {
  flex-shrink: 0;
  background-color: rgb(255, 255, 255, 0.8);
  width: 100vw;
  text-align: center;
}
